pandas
matplotlib
sentiment
streamlit
wordcloud
numpy
openpyxl
regex==2022.3.2
pyOpenSSL
textblob
demoji
python-dateutil
python-dotenv
tweepy
SQLAlchemy
vaderSentiment
psycopg2-binary
subprocess.run
streamlit_autorefresh
boto
schedule
PyGithub
postgres
multidict
python-binance
python-kucoin
APScheduler