pandas
matplotlib
sentiment
streamlit
wordcloud
numpy
openpyxl
regex
pyOpenSSL
textblob
demoji
python-dateutil
python-dotenv
tweepy
SQLAlchemy
vaderSentiment
psycopg2-binary
subprocess.run
streamlit_autorefresh